body {
    background-color: black;
}

.product-card {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: 120px auto 0 auto;
    display: flex;
}

.image-container {
    width: 50%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.product-info h2 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}

.product-info h3 {
    font-size: 18px;
    color: black;
}

.product-info p {
    font-size: 14px;
    color: black;
    padding-left: 50px;
    margin-top: 20px;
}

.colors {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.colors p {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.purchase {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase .price {
    font-size: 32px;
    color: black;
    font-weight: bold;
}

.purchase button {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#Jordan-Proto-Lyte{
    font-size: 32px;
}

#subheading{
    font-size: 18px;
    color: lightgray;
}

/* github test */